body {
 font-family: 'Roboto', sans-serif ;
 font-style: normal;
color:#434455;
}

.link {
    text-decoration: none;
}

.list {
    list-style: none;
}

.header {
    font-style: normal
}

.logo {
    font-family:"Raleway",sans-serif;
    font-style:normal;
    font-weight:800;
    font-size:18px;
    line-height:1.17;
    letter-spacing:0.03em;
    text-transform:uppercase;
    color:#4d5ae5;
}

.studio {
font-family:"Raleway",sans-serif;
font-style:normal;
font-weight:800;
font-size:18px;
line-height:1.17;
letter-spacing:0.03em;
text-transform:uppercase;
color: #f4f4fd;
}

.header-link {
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.02em;
color: #2E2F42;
}

.header-mail {
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.02em;
color: #434455;
}

.header-tel {
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.02em;
color: #434455;
}

.hero {
    background-color: #2E2F42;
}
.hero-tittle {
font-weight: 700;
font-size: 56px;
line-height:1.07;
letter-spacing: 0.02em;
text-align: center;
color: #FFFFFF;
}
.btn-hero {
font-family:'Roboto',sans-serif;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
display: flex;
align-items: center;
letter-spacing: 0.04em;
cursor: pointer;
color: #FFFFFF;
}

.btn-hero:is(:hover, :focus){
background-color: #4D5AE5;;
}

.strat-tittle {
font-weight: 500;
font-size: 20px;
line-height: 24px;
letter-spacing: 0.02em;
color: #2E2F42;
}

.strat-p {
font-weight: 400;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.02em;
color: #434455;
}

.what-tittle {
font-family:'Roboto';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 1.11;
text-align: center;
text-transform: capitalize;
color: #2E2F42;
}

.team-tittle {
font-family:'Roboto';
font-style:normal;
font-weight:700;
font-size:36px;
line-height:1.11;
text-align:center;
letter-spacing: 0.02em;
text-transform:capitalize;
color:#2E2F42;
}

.team-name {
font-weight: 500;
font-size: 20px;
line-height: 24px;
color: #2E2F42;
}

.team-p {
font-weight: 400;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.02em;
color: #434455;
}
 
.footer {
background-color: #2E2F42;
}

.footer-p {
font-weight: 400;
font-size: 16px;
line-height: 24px;
color: #E7E9FC;
}

.portfolio-btn {
font-weight: 500;
font-size: 16px;
line-height: 24px;
color: #4D5AE5;
}

.portfolio-btn:is(:hover, :focus) {
color: #F4F4FD;
background-color: #404BBF;
}

.portfolio-text {
font-weight: 500;
font-size: 20px;
line-height: 24px;
color: #2E2F42;
}

.portfolio-p {
font-weight: 400;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.02em;
color: #434455;
}